
/* ESTILO COBERTURAS - CON GRID - */

.automotores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "a a b"
        "d c c"
        "e e f";
    gap: 1rem;
    margin: 0 auto;
    color: snow;
    & h2 {
        text-align: center;
        font-size: map-get($font-sizes, text-medium);
        margin-bottom: $spacing-xsmall;
    }
    &__content--d {
        background-color: #287c35ae;
        grid-area: b;
        border-style: groove;
        border-color: #87ed9f;
        border-radius: $spacing-xsmall;
    }
    &__content--d3 {
        background-color: #287c35ae;
        grid-area: a;
        border-style: groove;
        border-color: #87ed9f;
        border-radius: $spacing-xsmall;
    }
    &__content--c7 {
        background-color: #972c0c7e ;
        grid-area: c;
        border-style: groove;
        border-color: #cd3305d0;
        border-radius: $spacing-xsmall;
    }
    &__content--c2 {
        background-color: #972c0c7e ;
        grid-area: d;
        border-style: groove;
        border-color: #cd3305d0;
        border-radius: $spacing-xsmall;
    }
    &__content--c {
        background-color: #972c0c7e ;
        grid-area: e;
        border-style: groove;
        border-color: #cd3305d0;
        border-radius: $spacing-xsmall;
    }
    &__content--b1 {
        background-color: #2e3ba192 ;
        grid-area: f;
        border-style: groove;
        border-color: #7171f0;
        border-radius: $spacing-xsmall;
    }
    p {
        text-align: center;
        line-height: 1.5;
        font-size: map-get($font-sizes, text-small);
    }
}