
/* Style contacto.html */

.contact {
    font-family: $font-principal;
    background-image: url(../img/undraw_contact_us_re_4qqt.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50vw;
    margin: $spacing-medium;

    &__conteiner {
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: fit-content;
        padding: $spacing-small;
    }

    &__link {
        font-family: $font-secondary;
        font-size: map-get($font-sizes, text-small);
        color: $text-color !important;
        display: inline-block;
        margin-top: 6rem;
        margin-left: 1rem;
        transition: all .6s;
    }

    &__link:hover {
        background-color: $base;
        border: inset $details .2rem;
        border-radius: 1rem;
    }
    
    &__icon {
        width: 4.5rem;
    }
}