
/* Style contacto.html */

.contact {
    font-family: $font-principal;
    background-image: url(../img/undraw_contact_us_re_4qqt.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50vw;
    margin: $spacing-medium;

    &__link {
        font-family: $font-secondary;
        font-size: map-get($font-sizes, text-small);
        color: $text-color !important;
        display: inline-block;
        margin-top: 6rem;
        margin-left: 1rem;
        transition: all .6s;
    }

    &__link:hover {
        background-color: $base;
        border: inset $details .2rem;
        border-radius: 1rem;
    }
    
    &__icon {
        width: 4.5rem;
    }
}