
.ingresar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    & header {
        width: 35vw;
    }
}

#logo {
    margin-top: 2%;
    border-radius: 40%;
    box-shadow: 5px 15px 25px rgb(74, 71, 71);
}

/* Comentado por uso de bootstrap en boton de ingreso */

/* button {    
    font-family: var(--font-principal);
    width: 20vw;
    height: 5rem;
    font-size: var(--text-medium);
    margin-bottom: 2rem;
    border-radius: 5rem;
    background-color: snow;
    transition: all .6s;
    cursor: pointer;
    &:hover {
        background-color: var(--primary);
        transform: scale(1.1, 1.1);
        font-weight: bold;
    }
}
 */