
.ingresar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    & header {
        width: 35vw;
    }
}

#logo {
    margin-top: 2%;
    border-radius: 40%;
    box-shadow: 5px 15px 25px rgb(74, 71, 71);
}