
.main {
    font-size: $text-small;
    margin: 0 $spacing-medium;
    margin-bottom: $spacing-small;
    line-height: 1.5;
    font-family: $font-principal;
    color: $text-color;
    text-align: center;

    & .page_title {
        text-align: center;
        font-size: $text-large;
        padding-bottom: $spacing-xsmall;
        font-family: $font-alternative;
        font-weight: bold;
    }

    & .main--flex {
        display: flex;
        flex-direction: row;
    }

    & .main--flex img {
        width: 40vw;
        border-style:groove;
        border-radius: 5%;
        filter: drop-shadow(-16px 16px 10px black);
    }

    & .main--flex div {
        margin-left: $spacing-small;
    }
}