
.main {
    font-size: map-get($font-sizes, text-small);
    margin: 0 $spacing-medium;
    margin-bottom: $spacing-small;
    line-height: 1.5;
    font-family: $font-roboto;
    color: $text-color;
    text-align: center;

    &--flex {
        @include flex(row, center, center, 0);
    }

    &--flex img {
        width: 40vw;
        border-style:groove;
        border-radius: 5%;
        filter: drop-shadow(-16px 16px 10px black);
    }

    &--flex div {
        margin-left: $spacing-small;
    }
}