
.main {
    margin: 0 $spacing-medium;
    line-height: 1.5;
    font-family: $font-principal;
    color: $text-color;
    text-align: center;

    &--flex {        
        @include flex(row, center, flex-start, 0);
    }

    &--flex img {
        width: 40vw;
        border-style:groove;
        border-radius: 5%;
        filter: drop-shadow(-16px 16px 10px black);
    }

    &--flex div {
        font-size: map-get($font-sizes, text-intermidiate);
        margin-left: $spacing-small;
        width: 50vw;
    }
}