
/* Style praxis.html */

.praxis {
    text-align: center;
    padding: $spacing-xsmall $spacing-medium;
    &__art {
        margin: 0 auto;
    }
    & h2 {
        font-size: map-get($font-sizes, text-medium);
        font-family: $font-alternative;
        text-decoration: underline;
        margin: $spacing-xsmall 0;
    }
    & p{        
        font-size: map-get($font-sizes, text-small);
    }
}