
/* Style praxis.html */

.praxis {
    text-align: center;
    padding: $spacing-xsmall $spacing-medium;
    & .praxis__art {
        margin: 0 auto;
    }
    & h2 {
        font-size: map-get($font-sizes, text-medium);
        text-decoration: underline;
        margin: $spacing-xsmall 0;
    }
}