
/* Style praxis.html */

.praxis {
    text-align: center;
    padding: 0 $spacing-medium;
    & .praxis__art {
        margin: $spacing-small 0;
    }
    & h2 {
        font-size: map-get($font-sizes, text-medium);
        text-decoration: underline;
        margin-bottom: $spacing-xsmall;
    }
}