
/* ESTILO SOBREMI.HTML */

.sobreMi {
    font-family: $font-alternative;
    display: flex;
    flex-direction: row;
    margin: $spacing-small;
    padding: $spacing-xsmall;

    & img {
        width: 35vw;
        filter: drop-shadow(16px 16px 10px black);
        border-style: groove;
        border-radius: 4rem;
        flex: 1 1 auto;
    }
    
    &__content {
        font-size: map-get($font-sizes, text-intermidiate);
        text-align: center;
        line-height: 2; 
        border-radius: 4rem;
        margin: 0 $spacing-small;
        padding: $spacing-xsmall;
        background-color: #77A6B6;    
        box-shadow: 10px 2px 15px rgb(30, 49, 87); 
        flex: 1 1 auto;
    }    
}