@mixin flex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin destacado($color, $font-style, $font-weight) {
    color: $color;
    font-style: $font-style;
    font-weight: $font-weight;
}