
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#favicon {
    border-radius: 40%;
}

body {
    font-family: $font-principal;
    background: linear-gradient(1deg, #df8d4e, #e9f9f1);
    font-size: map-get($font-sizes, text-intermidiate);
    color: $text-color;
}

.page_title {
    text-align: center;
    font-size: map-get($font-sizes, text-large);
    margin-bottom: $spacing-small;
    font-family: $font-alternative;
    font-weight: bold;
    text-decoration: underline;
}

.destacado {
    @include destacado(#2f3588, italic, 700);
}