
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#favicon {
    border-radius: 40%;
}

body {
    font-family: $font-principal;
    // background-color: linear-gradient(140deg, #df8d4e, #e9f9f1);
    // background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.08'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background: linear-gradient(1deg, #df8d4e, #e9f9f1);
    font-size: map-get($font-sizes, text-small);
    color: $text-color;
}

.page_title {
    text-align: center;
    font-size: map-get($font-sizes, text-large);
    margin-bottom: $spacing-small;
    font-family: $font-alternative;
    font-weight: bold;
    text-decoration: underline;
}

.destacado {
    @include destacado(rgb(61, 59, 59), italic, bold);
}