    
    // Colors
    $primary: #27744F;
    $secondary: #df8d4e;
    $alternative: #e1dade;
    $text-color: #002841;
    $base: #e9f9f1;
    $details: #0bf0fc;

    // Spacings
    $spacing-medium: 10rem;
    $spacing-small: 5rem;
    $spacing-xsmall: 2.4rem;

    // Fonts-Family
    $font-principal: 'Zilla Slab', serif;
    $font-secondary: 'Montserrat Alternates', sans-serif;
    $font-alternative: 'Caveat', cursive;
    $font-roboto: 'Roboto', sans-serif;
    $font-marvel: 'Marvel', sans-serif;
    
    // Font-Sizes

    // se uso .text-intermidiate como class en el titulo de la página sobreMi.html
    $font-sizes: (
        text-large: 4em,
        text-medium: 2em,
        text-intermidiate: 1.8em, 
        text-small: 1.4em,
        text-xsmall: 1em
    );

    @each $font-size, $value in $font-sizes {
        .#{$font-size} {
            font-size: #{$value};
        }
    }